%h1 Compañías

%table.table.table-striped
  %thead
    %tr
      %th Código
      %th Denominación
      %th Estado
  %tbody
    - @companies.each do |company|
      - if company.status
        %tr
          %td.col-xs-1= company.id
          %td.col-xs-4= link_to company.short_name, company_path(company) + '/datos/general'
          %td
            %span{ class: 'label ' + (company.status.denomination == 'Activa' ? 'label-success' : 'label-danger') }= company.status.denomination
